.img_content {
  transition: 0.5s;
  overflow: hidden;
}

.img_content img {
  width: 50;
}

.project_content:hover .img_content{
  filter: grayscale(100%);
  transition: 0.5s;
}

.project_label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.project_label span {
  display: block;
  text-transform: uppercase;
  color: #fbbf24;
}

.project_content:hover .project_label {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
